        <!-- Login Container -->
        <div id="login-container">
            <!-- Login Title -->
            <div class="login-title text-center">
                <h1><strong>Survey in Pocket</strong><br><small>Please <strong>Login</strong> to Dashboard</small></h1>
            </div>
            <!-- END Login Title -->

            <!-- Login Block -->
            <div class="block push-bit">
                <!-- Login Form -->
				<% form_tag url( :session, :login), method: 'post', id: 'login-form', class:'form-horizontal form-bordered form-control-borderless' do %>
                
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                <input type="text" id="user_email" name="user[email]" class="form-control input-lg" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="password" id="user_password" name="user[password]" class="form-control input-lg" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-actions">

                        <div class="col-xs-8  offset-4 text-right">
                            <button type="submit" class="btn btn-sm btn-primary" id="login_submit" value="Submit">
                              <i class="fa fa-angle-right"></i> <%= I18n.t('login') %>
                            </button>
                        </div>
                    </div>
                <% end %>
                <!-- END Login Form -->
            </div>
            <!-- END Login Block -->

            <!-- Footer -->
            <footer class="text-muted text-center">
                <small><span id="year-copy"></span> &copy; <a href="http://surveyinpocket.com" target="_blank">Survey in Pocket</a></small>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Login Container -->


    