<div class="row">
  <div class="col-lg-8">
    <div class="block">
      <div class="block-title">
        <h2><strong> Themes</strong></h2>
      </div>
      <div class="table-responsive" id="theme_table">
        <table class="table">
          <thead>
          <tr>
            <th><i class="fa fa-picture-o"></i></th>
            <th>Id</th>
            <th>Theme Name</th>
            <th>Theme Type</th>
            <th>No. Users</th>
            <th>No. Surveys</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% for theme in @themes %>
              <%= partial "partials/theme_list/theme", :locals => {:theme => theme} %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <%= partial 'partials/theme_list/new_theme' %>
    <%= partial 'partials/theme_list/new_theme_type' %>
  </div>
</div>

<div class="modal fade" id="delete_confirm_dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete confirmation?</h4>
      </div>
      <div class="modal-body">
        Are you sure want to delete this theme?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->
<%= partial 'partials/theme_list/edit_theme' %>