$bg-color: #f0f0f0;
$header-color: #fff;
$font-color: #226688;
$theme-color: #0059a9;
$border-color: $theme-color;
$font-weight: 500;

$progress-color: #ffd401;

$question-color: #226688;

$button-color: $theme-color;
$button-border-color: $border-color;
$button-hover-color: #357cbb;
$button-hover-border-color: $border-color;
$button-selected-color: #003769;

$star-color: $theme-color;
$star-border-color: $border-color;

$textarea-border-color: $theme-color;


body {
    color:$font-color;
    background: $bg-color;
}

/* Header */
.global-header {
    background: $header-color;
}

.feedback-progress .svipk-progress {
    background: $progress-color;
}

.feedback-progress .svipk-progress:after {
    background: $progress-color;
    border: 0.125rem solid $progress-color;
}

/* Question */
.widget .widget-content-light {
    color: $question-color;
}


/* Button */
.btn-primary, .question-choice .btn {
    background: $button-color;
    border-color: $button-border-color;
}

.btn-primary:hover, .question-choice .btn:hover {
    background: $button-hover-color;
    border-color: $button-hover-border-color;
}

/* Star */
.question-stars:hover .star-radio+.star:hover ~ .star:before, .question-stars:hover .star-radio+.star:hover:before
{
    color: $star-color;
    text-shadow: 0px 0px;
    //text-shadow: 1px 1px 1px $star-border-color,2px 2px 2px $star-border-color
}

/* Text area */
.question-input:hover, .question-input:focus, .question-input.active {
    border-color: $textarea-border-color;
}

.question-stars .star-radio:checked ~ .star:before, .question-stars .star-radio+.star:hover ~ .star:before, .question-stars .star-radio+.star:hover:before, .question-stars:hover .star-radio+.star:hover ~ .star:before, .question-stars:hover .star-radio+.star:hover:before {
color: $theme-color;
text-shadow:0px 0px;
//text-shadow: 1px 1px 1px $border-color,2px 2px 2px $border-color
}

.question-choice input[type="radio"]:checked+.btn {
    background: $button-selected-color;
    border-color: $button-selected-color;
}
